<div class="profiles">
    <ul>
    <li>
        <a href="https://www.linkedin.com/in/vvmarchenko/">
            <figure>
                <img src="/img/linkedin.svg" alt="LinkedIn profile" loading="lazy" width="60" height="60">
                <figcaption>LinkedIn</figcaption>
            </figure>
        </a>
    <li>
        <a href="https://github.com/vvmarchenko/">
            <figure>
                <img src="/img/github.svg" alt="GitHub profile" loading="lazy" width="60" height="60">
                <figcaption>GitHub</figcaption>
            </figure>
        </a>
    </li>
    <li>
        <a href="https://t.me/vvmarchenko_3">
            <figure>
                <img src="/img/telegram.svg" alt="Telegram profile" loading="lazy" width="60" height="60">
                <figcaption>Telegram</figcaption>
            </figure>
        </a>
    </li>
    </ul>
</div>